@charset "UTF-8";
@font-face {
  font-family: "PTSansNarrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Regular.woff") format("woff2"), url("../fonts/PTSansNarrow/PTSansNarrow-Regular.woff") format("woff"); }

@font-face {
  font-family: "PTSansNarrow";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Bold.woff") format("woff2"), url("../fonts/PTSansNarrow/PTSansNarrow-Bold.woff") format("woff"); }

/* примеры подключения шрифтов 
@include font-face("Kaushan Script", "../fonts/KaushanScript-Regular/KaushanScript-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Regular/Montserrat-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Bold/Montserrat-Bold", bold);
@include font-face("Roboto", "../fonts/Roboto-Regular/Roboto-Regular");
@include font-face("Roboto", "../fonts/Roboto-LightItalic/Roboto-LightItalic", 300, italic);
*/
*, *::before, *::after {
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PTSansNarrow", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  background-color: #353535; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* page header =================================*/
.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.page-header__logo {
  height: 85px;
  text-align: center;
  padding: 29px 0 19px 0;
  background-color: #242424; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000; }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -9px; } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0px; } }

/* main-nav =====================================*/
.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #6a4d38; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
    margin: 0 auto; } }

/* site-list ====================================*/
.site-list__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #f7f4f1;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px; }
  .site-list__item {
    margin-right: 32px; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 3px;
        background: #826550; }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000; }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; }
  .site-list__item {
    margin-right: 0; }
    .site-list__item--active::after {
      right: 30px;
      left: 30px; }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px; }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff; }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1; } }

/* user-list =======================================*/
.user-list__login {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-left: 49px;
  font-size: 18px;
  color: #f7f4f1; }

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  .user-list__login-icon polygon {
    fill: #ffffff; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 1; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #826550; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:active .user-list__login-icon polygon {
        fill: #ffffff; }
  .user-list__login-icon {
    top: 29px;
    left: 12px; } }

@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px; }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .user-list__login:hover {
      color: #000000;
      background-color: #ffffff; }
    .user-list__login:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #000000; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.1; }
  .user-list__login-icon {
    left: 15px; } }

/*  stats block =========================================*/
.stats {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto; }

.stats__header {
  padding: 30px 40px 25px 40px;
  text-align: center;
  background-color: #ffffff; }

.stats__slogan {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.stats__intro {
  margin-bottom: 0; }

.stats__info {
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend--top {
  display: none; }

.stats__legend--bottom {
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424; }

.stats__list {
  width: 100%;
  border-collapse: collapse;
  background-color: #404040; }

.stats__list tr:nth-child(2) {
  background-color: #4e4e4e; }

.stats__list tr:nth-child(3) {
  background-color: #353535; }

.stats__value {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff; }

.stats__field {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  color: #f7f4f1;
  text-align: right; }

@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px; }
  .stats__header {
    display: flex;
    flex-wrap: wrap;
    height: 185px;
    padding-top: 35px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px; }
  .stats__slogan {
    width: 50%;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: none;
    text-align: left; }
  .stats__intro {
    width: 50%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-left: 32px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 500px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    opacity: 0.3; }
  .stats__legend--bottom {
    display: none; }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stats__list tr {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 38px;
    padding-bottom: 30px;
    width: 50%; }
  .stats__value {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    font-size: 70px;
    line-height: 70px; }
  .stats__field {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    text-align: left; }
    .stats__field br {
      display: none; } }

@media (min-width: 1200px) {
  .stats {
    flex-direction: row;
    width: 960px;
    margin-top: -160px; }
  .stats__header {
    flex-direction: column;
    width: 320px;
    height: 320px;
    padding-bottom: 0; }
  .stats__slogan {
    margin-bottom: 40px;
    width: 100%; }
  .stats__intro {
    width: 100%;
    padding-left: 0;
    margin-bottom: 25px; }
  .stats_list {
    width: 640px; }
  .stats__list tr {
    height: 160px; } }

/* advantages ================================================ */
.advantages__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
  color: #f7f4f1;
  background-color: #242424; }

.advantages__wrapper::before,
.advantages__wrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0; }

.advantages__wrapper::before {
  left: 0;
  border-bottom: 35px solid #ffffff;
  border-right: 160px solid transparent; }

.advantages__wrapper::after {
  right: 0;
  border-bottom: 35px solid #ffffff;
  border-left: 160px solid transparent; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 150px;
  text-align: center; }

.advantages__item::before {
  content: "";
  display: block;
  width: 95px;
  height: 94px;
  top: 30px;
  right: 113px;
  position: absolute;
  background-image: url("../img/advantage-1.png"); }

.advantages__item:nth-child(2)::before {
  background-image: url("../img/advantage-2.png"); }

.advantages__item:nth-child(3)::before {
  background-image: url("../img/advantage-3.png"); }

.advantages__item--cool,
.advantages__item--price {
  display: none; }

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }

.advantages__description {
  font-size: 20px;
  line-height: 27px;
  padding: 0 45px;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .advantages__item--cool,
  .advantages__item--price {
    display: block; }
  .advantages__wrapper {
    width: 768px;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #353535; }
  .advantages__wrapper::before {
    border-bottom: 40px solid #ffffff;
    border-right: 384px solid transparent; }
  .advantages__wrapper::after {
    border-bottom: 40px solid #ffffff;
    border-left: 384px solid transparent; }
  .advantages__list {
    padding: 0 35px; }
  .advantages__item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 125px;
    text-align: left;
    border-bottom: 1px solid #4a4a4a; }
  .advantages__item::before {
    top: 45px;
    left: 0; }
  .advantages__item:last-child {
    border-bottom: none; }
  .advantages__title {
    margin-bottom: 15px; }
  .advantages__description {
    padding: 0;
    margin: 0; }
  .advantages__toggles.slider__toggles {
    display: none; } }

@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 65px;
    background-color: #353535; }
  .advantages__wrapper::before {
    border-bottom: 65px solid #ffffff;
    border-right: 600px solid transparent; }
  .advantages__wrapper::after {
    border-bottom: 65px solid #ffffff;
    border-left: 600px solid transparent; }
  .advantages__list {
    display: flex;
    padding: 0;
    padding-top: 75px;
    padding-bottom: 40px; }
  .advantages__item {
    width: 33.33%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 125px;
    text-align: center;
    border-bottom: none;
    border-right: 1px solid #4a4a4a; }
  .advantages__item:last-child {
    border-right: none; }
  .advantages__item::before {
    top: 0;
    left: 113px; } }

/* slider ========================================= */
.slider__toggles {
  display: flex;
  justify-content: space-between;
  width: 76px;
  margin: 0 auto;
  padding: 15px 0; }

.slider__toggle {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 2px solid #959595;
  background: none;
  transform: rotate(45deg); }

.slider__toggle:first-child {
  border: 2px solid #ffffff;
  background-color: #ffffff; }

/* news ======================================= */
.news {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5ddd5; }

.news__title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.news__item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px; }

.news__item:first-child {
  border-bottom: 1px solid #e5ddd5; }

.news__item:nth-child(3) {
  display: none; }

.news__date {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  margin-top: 10px;
  padding: 4px 10px;
  font-size: 16px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #000000; }

.news__date::before,
.news__date::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0; }

.news__date::before {
  left: 0;
  border-bottom: 10px solid #ffffff;
  border-right: 25px solid transparent; }

.news__date::after {
  right: 0;
  border-bottom: 10px solid #ffffff;
  border-left: 25px solid transparent; }

.news__day {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px; }

.news__text {
  width: 210px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px; }

@media (min-width: 768px) {
  .news {
    position: relative;
    width: 768px;
    padding: 45px 64px 30px 45px; }
  .news__title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
    text-align: left; }
  .news__list {
    display: flex;
    justify-content: space-between; }
  .news__item {
    flex-grow: 1; }
  .news__item:first-child {
    border-bottom: none; }
  .news__text {
    width: 250px;
    padding-right: 40px; }
  .news__to-all {
    position: absolute;
    top: 45px;
    right: 64px;
    width: 160px; } }

@media (min-width: 1200px) {
  .news {
    width: 1200px;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px; }
  .news__item:nth-child(3) {
    display: flex; }
  .news__to-all {
    position: absolute;
    top: 55px;
    right: 120px;
    width: 160px; } }

/* button ======================================== */
.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: 1px solid #e5ddd5; }

/* reviews ======================================= */
.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 37px;
  background-color: #ffffff; }

.reviews::before,
.reviews::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0; }

.reviews::before {
  left: 0;
  border-bottom: 35px solid #242424;
  border-right: 160px solid transparent; }

.reviews::after {
  right: 0;
  border-bottom: 35px solid #242424;
  border-left: 160px solid transparent; }

.reviews__title {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase; }

.reviews__item {
  position: relative;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px; }

.reviews__author-picture {
  position: absolute;
  left: 0;
  top: 25px;
  margin: 0; }

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal; }

.reviews__text {
  margin: 0;
  margin-top: 8px;
  padding: 0; }

.reviews__write,
.reviews__item:nth-child(2),
.reviews__item:nth-child(3),
.reviews__prev,
.reviews__next {
  display: none; }

.reviews__toggles .slider__toggle:first-child {
  border: 1px solid #000000;
  background-color: #000000; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    width: 768px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 35px;
    padding-bottom: 70px; }
  .reviews__title {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 45px;
    font-size: 40px;
    line-height: 40px;
    text-align: left; }
  .reviews__write {
    display: block;
    position: absolute;
    top: 45px;
    right: 64px;
    width: 160px; }
  .reviews__list {
    display: flex; }
  .reviews__item {
    order: 2;
    width: 540px;
    padding: 30px;
    padding-left: 140px;
    border: 1px solid #e5ddd5;
    border-left: none;
    border-right: none; }
  .reviews__author-picture {
    left: 30px;
    top: 38px;
    width: 80px;
    height: 80px; }
  .reviews__author-picture img {
    width: 100%;
    height: 100%;
    padding-top: 0;
    border-radius: 50%;
    overflow: hidden; }
  .reviews__prev,
  .reviews__next {
    position: relative;
    display: block;
    width: 50px;
    padding: 0;
    margin: 0;
    background: none;
    border: 1px solid #e5ddd5; }
  .reviews__prev {
    order: 1; }
  .reviews__next {
    order: 5; }
  .reviews__prev::before,
  .reviews__next::before {
    position: absolute;
    left: 18px;
    top: 74px;
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; }
  .reviews__prev::before {
    border-right: 12px solid #000000; }
  .reviews__next::before {
    border-left: 12px solid #000000; }
  .reviews__toggles {
    position: absolute;
    left: 50%;
    bottom: 51px;
    width: 126px;
    padding-left: 23px;
    padding-right: 23px;
    margin-left: -63px;
    background-color: #ffffff; }
  .reviews::before {
    display: none; }
  .reviews::after {
    display: none; } }

@media (min-width: 1200px) {
  .reviews {
    width: 1200px;
    padding: 35px 120px 95px 120px; }
  .reviews__write {
    right: 120px; }
  .reviews__list {
    justify-content: space-between; }
  .reviews__item {
    height: 160px;
    width: 820px;
    flex-grow: 0;
    padding-left: 320px;
    padding-right: 70px;
    border: 1px solid #e5ddd5; }
  .reviews__author-picture {
    left: 0;
    top: 0;
    width: 250px;
    height: 160px; }
  .reviews__author-picture img {
    width: 100%;
    height: 100%;
    padding-top: 0;
    border-radius: 0; }
  .reviews__toggles {
    bottom: 31px; } }

/* page-footer ==============================*/
.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #292929; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    padding: 55px 64px; }
  .page-footer__social {
    order: 3;
    margin-top: 50px; }
  .page-footer__copyright {
    margin: 0; } }

@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 1200px;
    padding: 55px 120px; }
  .page-footer__contacts {
    order: 1; }
  .page-footer__social {
    order: 2;
    margin: 0;
    margin-left: 85px; }
  .page-footer__copyright {
    order: 3;
    margin-left: auto; } }

/* contacts ================================= */
.contacts {
  padding: 25px 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #3e3e3e;
  border-bottom: none; }

.contacts__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold; }

.contacts__text {
  margin: 0;
  margin-top: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal; }

.contacts__phone {
  display: block;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-top: 20px;
  color: #ffffff;
  border: 1px solid #3e3e3e; }

.contacts__phone-mobile {
  font-size: 0; }

@media (min-width: 768px) {
  .contacts {
    margin: 0;
    padding: 0;
    text-align: left;
    border: none; }
  .contacts__title {
    line-height: 27px;
    text-transform: uppercase; }
  .contacts__phone {
    display: block;
    padding: 0;
    margin: 0;
    color: #ffffff;
    border: none; }
  .contacts__phone-mobile {
    font-size: 18px;
    line-height: 27px; } }

/* social ==================================== */
.social__title {
  display: none; }

.social__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__item {
  flex-grow: 1;
  height: 100px;
  border: 1px solid #3e3e3e; }

.social__item:nth-child(2) {
  border-left: none;
  border-right: none; }

.social__link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat; }

.social__link--vkontakte {
  background-image: url("../img/vk-icon-big.png"); }

.social__link--facebook {
  background-image: url("../img/facebook-icon-big.png"); }

.social__link--instagram {
  background-image: url("../img/insta-icon-big.png"); }

@media (min-width: 768px) {
  .social {
    width: 640px; } }

@media (min-width: 1200px) {
  .social {
    width: 162px; }
  .social__title {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: #ffffff;
    text-align: center; }
  .social_list {
    justify-content: space-between; }
  .social__item {
    width: 50px;
    height: 50px;
    flex-grow: 0; }
  .social__item:nth-child(2) {
    border: 1px solid #3e3e3e; }
  .social__link--vkontakte {
    background-size: 15px 17px; }
  .social__link--facebook {
    background-size: 10px 21px; }
  .social__link--instagram {
    background-size: 19px 19px; } }

/* copyright ==================================== */
.copyright {
  padding: 32px 20px 24px 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #3e3e3e;
  border-top: none; }

.copyright__link {
  margin-top: 15px;
  color: #ffffff;
  border: 1px solid #3e3e3e; }

@media (min-width: 768px) {
  .copyright {
    width: 160px;
    padding: 0;
    border: none; } }
