@charset "UTF-8";
@font-face {
  font-family: "PTSansNarrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Regular.woff") format("woff2"), url("../fonts/PTSansNarrow/PTSansNarrow-Regular.woff") format("woff"); }

@font-face {
  font-family: "PTSansNarrow";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PTSansNarrow/PTSansNarrow-Bold.woff") format("woff2"), url("../fonts/PTSansNarrow/PTSansNarrow-Bold.woff") format("woff"); }

/* примеры подключения шрифтов 
@include font-face("Kaushan Script", "../fonts/KaushanScript-Regular/KaushanScript-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Regular/Montserrat-Regular");
@include font-face("Montserrat", "../fonts/Montserrat-Bold/Montserrat-Bold", bold);
@include font-face("Roboto", "../fonts/Roboto-Regular/Roboto-Regular");
@include font-face("Roboto", "../fonts/Roboto-LightItalic/Roboto-LightItalic", 300, italic);
*/
*, *::before, *::after {
  box-sizing: border-box; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PTSansNarrow", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* page header =================================*/
.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.page-header__logo {
  display: block;
  text-align: center;
  padding: 29px 0 19px 0;
  background-color: #242424; }

/* main-nav =====================================*/
.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #6a4d38; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

/* site-list ====================================*/
.site-list__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #f7f4f1;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

/* user-list =======================================*/
.user-list__login {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-left: 49px;
  font-size: 18px;
  color: #f7f4f1; }

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  .user-list__login-icon polygon {
    fill: #ffffff; }
